<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  <div id="demo">
    <form action="">
      <input type="text" v-model="username" name="username"> <br>
      <input type="radio" value="male" v-model="gender" name="gender">男
      <input type="radio" value="female" v-model="gender" name="gender">女
      <input type="checkbox" v-model="other" value="其他" name="other">其他
      <input type="checkbox" v-model="other" value="其他2" name="other">其他
      <input type="checkbox" v-model="other" value="其他3" name="other">其他
      <input type="submit" value="提交">
    </form>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#demo',
      data: {
        username: 'zhoubo',
        gender: 'male',
        other: []
      }
    })
  </script>
</body>
</html>